body {
	--text-colour: hsl(39, 44%, 86%);
	--background-colour: hsl(240, 1%, 19%);
	margin: 40px;
	color: var(--text-colour);
	background: var(--background-colour);
	font-family: Nunito, sans-serif;
	font-size: 24px;
}

pre, .quote {
	padding: 1.5em;
	border-radius: 8px;
	background: hsl(240, 0%, 30%);
	overflow-x: auto;
}

.quote {
	border: 3px solid currentColor;
}

h1, h2, h3, h4 {
	font-family: 'Carter One', sans-serif;
}

h2 {
	margin-top: 2em;
}

h3 {
	border-top: 1px solid currentColor;
	padding-top: 1em;
}

h2 + h3 {
	border: 0;
}

a {
	color: inherit;
}

ol, .short-cut, .error, .info {
	border: 2px solid currentColor;
	border-radius: 8px;
	padding: 1em;
	margin-bottom: 1em;
}

ol {
	padding-left: 2em;
}
ol li {
	margin-bottom: .5em;
}

summary + code {
	display: inline-block;
	margin-top: .5em;
}
code + code {
	display: block;
}
code.inline {
	display: inline;
}

summary {
	cursor: pointer;
}

pre {
	tab-size: 2ch;
}

ul {
	list-style-type: none;
}
ul li {
	position: relative;
}
ul li::before {
	content: '🚀';
	position: absolute;
	transform: translate(-120%);
}
ul.files li::before {
	content: '📂';
}
ul.box li::before {
	content: '📦';
}
ul li.yes::before {
	content: '✔️';
}
ul li.no::before {
	content: '❌';
}
ul li.sort-of::before {
	content: '➖';
}
ul li.cut::before {
	content: '✂️';
}
ul li.copy::before {
	content: '📃📃';
	letter-spacing: -.9em;
	transform: translate(-250%);
}

pre {
	background: #272822;
	margin: .5em;
	padding: .5em;
}

.short-cut {
	color: hsl(100, 50%, 30%);
	background: hsl(100, 30%, 80%);
	display: inline-block;
}
.short-cut > div:first-child {
	font-weight: 700;
}
.error {
	color: hsl(0, 50%, 30%);
	background: hsl(0, 30%, 80%);
}
.info {
	color: hsl(200, 50%, 30%);
	background: hsl(200, 30%, 80%);
}

.label {
	margin-bottom: .25em;
}
.label + * {
	margin-top: .25em;
}

.info pre code {
	color: var(--text-colour);
}

.attribution {
	display: block;
	text-align: right;
}

hr {
	border: 1px solid currentColor;
	border-bottom: 0;
}